<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	
	<!-- 로그인 검사 & session에 회원정보 보내기 -->
	<select id="checkLogin" parameterType="membervo" resultType="membervo">
		SELECT 
		mem_id AS memID,
		mem_name AS memName,
		mem_num AS memNum,
		mem_buseo AS memBuseoCode,
		mem_grade AS memGradeCode,
		mem_level AS memLevel,
		mem_confirm AS memConfirm,
		buseo_name AS memBuseoName,
		grade_name AS memGradeName 
		FROM member 
		LEFT JOIN member_buseo ON mem_buseo = buseo_id 
		LEFT JOIN member_grade ON mem_grade = grade_id 
		WHERE mem_id = #{memID} AND mem_pwd = #{memPwd}
	</select>
	
	<!-- 사용자정보 한개 불러오기 -->
	<select id="getMemOne" parameterType="String" resultType="membervo">
		
		SELECT 
		num AS num,
		mem_name AS memName,
		mem_buseo AS memBuseoCode,
		B.buseo_name AS memBuseoName,
		mem_grade AS memGradeCode,
		G.grade_name AS memGradeName,
		mem_gender AS memGender,
		mem_num AS memNum,
		mem_entdate AS memEntdate 
		FROM member M, member_buseo B, member_grade G 
		WHERE M.mem_buseo = B.buseo_id AND 
		M.mem_grade = G.grade_id AND 
		mem_num = #{sessionNum}
	</select>
	
	<!-- 관리자페이지에서 사용자정보 입력하기(member_others 테이블에 추가) -->
	<insert id="setMemOthers" parameterType="membervo">
		INSERT INTO member_others SET 
		mem_cp		= #{memCp},
		mem_tel		= #{memTel},
		mem_email	= #{memEmail},
		mem_birth	= #{memBirth},
		mem_recruit	= #{memRecruit},
		mem_addr	= #{memAddr},
		mem_married	= #{memMarried},
		mem_service	= #{memService},
		mem_hobby	= #{memHobby},
		mem_speciality		= #{memSpeciality}, 
		mem_disability		= #{memDisability},
		mem_disability_num	= #{memDisabilityNum},
		mem_reward		= #{memReward},
		mem_reward_num	= #{memRewardNum},
		mem_final_edu	= #{memFinalEdu},
		mem_height	= #{memHeight},
		mem_weight	= #{memWeight},
		mem_religion	= #{memReligion},
		mem_license1	= #{memLicense1},
		mem_license2	= #{memLicense2},
		mem_license3	= #{memLicense3},
		mem_license4	= #{memLicense4},
		mem_lang1		= #{memLang1},
		mem_lang2		= #{memLang2},
		mem_lang3		= #{memLang3},
		mem_lang4		= #{memLang4},
		mem_comment		= #{memComment},
		num_fk			= #{numFK}
	</insert>
	
	<!-- 미승인 회원 검색 -->
	<sql id="search">
		<choose>
			<when test="words == ''"></when>
			<when test="searchOpt == 'all'">
				AND (
				mem_id LIKE CONCAT('%', #{words} , '%') OR 
				mem_name LIKE CONCAT('%', #{words} , '%') OR 
				mem_num LIKE CONCAT('%', #{words} , '%')				
				) 
			</when>
			<otherwise>
				AND ${searchOpt} LIKE CONCAT('%',#{words},'%') 
			</otherwise>
		</choose>
	</sql>
	
	<!-- ""미승인 회원"" 리스트 가져오기 -->
	<select id="getMemApplicant" parameterType="hashmap" resultType="membervo">
		SELECT 
		mem_regdate AS memRegdate,
		mem_id AS memID,
		mem_name AS memName,
		mem_num AS memNum,
		mem_buseo AS memBuseoCode,
		B.buseo_name AS memBuseoName,
		mem_grade AS memGradeCode,
		G.grade_name AS memGradeName,
		mem_entdate AS memEntdate,
		
		mem_confirm AS memConfirm,
		num AS num 
		FROM member M, member_buseo B, member_grade G 
		WHERE M.mem_buseo = B.buseo_id AND 
		M.mem_grade = G.grade_id AND 
		M.mem_confirm = 'N' 
		<include refid="search"></include> 
		ORDER BY num DESC
	</select>
	
	<!-- 미승인회원 '승인'으로 업데이트 -->
	<update id="changeConfirm" parameterType="int">
		UPDATE member 
		SET mem_confirm	= 'Y' 
		WHERE num = #{num}
	</update>
	
	<!-- 미승인회원 수 카운트 -->
	<select id="getApplicantCount" parameterType="hashmap" resultType="int">
		SELECT COUNT(num) 
		FROM member 
		WHERE mem_confirm = 'N' 
		<include refid="search"></include>
	</select>
	
</mapper>